/* -----------------------------------------------------------
---------------------------- COMPONENTES------------
-----------------------------------------------------------*/
.menu {
    width: 100vw;
    padding: 0.5px 0px;
    position: fixed;
    display: grid;
    grid-template-rows: 48px;
    grid-template-columns: [start] 1fr [linea2] 375px [linea3] 1fr [end];
    bottom: 0;
    left: 0;
    background-color: var(--white2-color);
    z-index: 10;
}

.menu_center {
    grid-column: linea2 / linea3;
    display: grid;
    grid-template-columns: [start]1fr [linea2]1fr[linea3] 1fr[linea4] 1fr[linea5] 1fr[end];
    grid-template-rows: 1fr;
}

.menu_center a {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: flex-end;
}

.menu_icono {
    display: grid;
    justify-items: center;
}

.menu_icono p {
    font-size: var(--menu);
    text-align: inherit;
    color: var(--gray-color);
}

.menu_icono.activo p {
    color: var(--blue2-color);
}

.menu_icono.disable p {
    color: var(--gray3-color);
}

path.inactivo {
    fill: var(--gray-color);
}

path.activo {
    fill: var(--blue2-color);
}

path.disable {
    fill: var(--gray3-color);
}

path.button {
    fill: var(--white-color);
}

.navbar_app {
    display: flex;
    justify-content: space-between;
    margin: 11.5px 0px 0px 0px;
    align-items: center;
    width: 97%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.container {
    padding-bottom: 70px;
}

/* ---------------------- DATOS USUARIO --------------- */
.seccion_datos_user {
    margin: 0px 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [start] 1fr [linea2] 2fr[end];
}

.seccion_datos_user h2 {
    color: var(--gray2-dark-color);
    font-size: var(--titulo);
    margin: 20px 0px;
}

.seccion_datos_user .content_svg {
    margin: 2px 0px;
    display: flex;
    justify-content: center;
    align-items: end;
    background: var(--gray-color);
    border-radius: 50%;
    height: 105px;
    width: 105px;
}

path.user {
    fill: var(--white2-color);
}

.datos_user {
    margin-top: var(--space2);
    border-top: 2px solid var(--gray3-color);
}

.text {
    margin-top: var(--space2);
    color: var(--black-color);
    font-weight: 300;
    font-size: var(--medio);
}

.text span {
    color: var(--gray-color)
}
