/* ---------------------- INFORMACIÓN NOTAS--------------- */
.info_grafica img {
    width: 60%;
}

.info_grafica {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--space3) 0px;
}

.datos_notas_info h2 {
    font-size: var(--titulo);
    color: var(--gray2-dark-color);
    margin-top: var(--space);
    padding-right: var(--space3);
}

.datos_notas_info h3 {
    font-size: var(--subtitulo);
    color: var(--gray-color);
}

.info_card1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.card_notas_info h2 {
    font-size: var(--subtitulo);
}

.card_notas_info span {
    font-size: var(--normal);
    color: var(--gray-color);
}

.card_notas_info p {
    font-size: var(--subtitulo);
}

.titular_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titular_card .item_info {
    text-align: -webkit-center;
}

.titular_card .item_info h2 {
    font-size: var(--titulo);
    font-weight: 400;
    padding: 0;
}

.titular_card .item_info span {
    font-size: var(--titulo);
    color: var(--gray-color);
}

.titular_card .item_info p {
    font-size: var(--pequeno);
    margin: 0;
    color: var(--gray3-color);
}

.punto_azul {
    height: var(--space);
    width: var(--space);
    background: var(--blue2-color);
    border-radius: 50%;
    margin: var(--space);
}

.punto_amarillo {
    height: var(--space);
    width: var(--space);
    background: var(--yellow-color);
    border-radius: 50%;
    margin: var(--space);
}