/* ----------------------  NOTICIA TIPO 1--------------- */
.content_tend {
    margin: 0 var(--space2);
}

.content_img_tend_tipe1 img {
    width: 100%;
}

.content_text_tend {
    border-radius: var(--space2);
    position: relative;
    background: var(--white-color);
    top: -16px;
    padding: var(--space3) var(--space2);
}

.content_text_tend h3 {
    font-size: var(--titulo);
    color: var(--gray2-dark-color);
    margin-bottom: var(--space);
}

.content_text_tend span {
    color: var(--gray-color);
    font-size: var(--normal);
    margin: 0;
}

.content_text_tend p {
    color: var(--gray2-dark-color);
    line-height: 23px;
    margin-bottom: var(--space3);
}

.content_text_tend ol {
    padding-inline-start: var(--space2);
}

.content_text_tend li p {
    font-size: (--normal);
    font-weight: 200;
    margin: 0;
}
