/* ---------------------- SECCION NOTICIAS--------------- */
.seccion_tendencias {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
}

.tendencias_info {
    margin: 0px var(--space2);
}

.tendencias_info h2 {
    margin-top: var(--space);
    font-size: var(--titulo);
    color: var(--gray2-dark-color);
}

.card_content {
    background: var(--gray2-color);
    border-radius: var(--space);
}

.content_text {
    margin: var(--space2) 12px;
}

.content_text h3 {
    font-size: var(--subtitulo);
    color: var(--gray-color);
    line-height: 24px;
}

.content_text p {
    color: var(--gray2-dark-color);
    font-size: (--normal);
    line-height: 23px;
}

.content_text span {
    color: var(--gray-color);
}

.content_img img {
    width: 100%;
    border-radius: var(--space);
}

.card_tendencia_info a {
    text-decoration: none;
    display: flex;
}

.card_tendencia_info .boton {
    margin-top: var(--space);
    margin-bottom: var(--space2);
    width: 100%;
    height: 42px;
    background: var(--blue-color);
    border-bottom: solid 2px var(--yellow-color);
    font-size: var(--normal);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--space);
}

.card_tendencia_info .boton p {
    color: var(--white-color);
    margin: 0;
}