/*----------------- COMPONENTES BOTONES-------------------------- */
.boton-uno {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 48px;
	width: 184px;
	text-decoration: none;
	border-radius: var(--space);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--space2);
	font-weight: 400;
}

.boton-uno p {
	margin-bottom: 0;
	font-size: var(--medio);
}

.boton-uno.ingresar p {
	color: var(--white-color);
	font-weight: 300;
	line-height: 21px;
	font-size: var(--medio);
}

.boton-dos {
	background-color: var(--blue-color);
	color: var(--white-color);
	height: 40px;
	width: 104px;
	text-decoration: none;
	border-radius: var(--space);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--space2);
}

.horizontal-boton {
	display: flex;
}

.boton-cuatro {
	text-align: center;
	background-color: var(--blue-color);
	border-radius: var(--space);
	width: 167.48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton-cuatro p {
	color: var(--white-color);
	font-size: var(--medio);
	font-weight: 400;
}

.btn5 {
	background-color: var(--blue-color);
	height: 24px;
	width: 77px;
	border-radius: var(--space);
	margin-top: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn5 h4 {
	margin: 0;
	padding: 0;
	font-size: var(--medio);
	font-weight: 300;
}

.top-container {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 2rem;
	height: 4rem;
	z-index: -1;
}

.top-button {
	width: 0rem;
	height: 0rem;
	background: var(--blue2-color);
	border-radius: 50%;
	cursor: pointer;
	transition: .2s;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

svg.top_svg {
	position: absolute;
	transform: rotate(90deg) !important;
	top: 22%;
	left: 35%;
	transform: translate(-50%, -50%) scale(0);
	transition: .2s;
}

.show {
	z-index: 100;
}

.show .top-button {
	animation: popup .3s ease-in-out;
	width: 40px;
	height: 40px;
	z-index: 110;
}

.show .top_svg {
	transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
	0% {
		width: 0rem;
		height: 0rem;
	}

	50% {
		width: 3rem;
		height: 3rem;
	}

	100% {
		width: 2rem;
		height: 2rem;
	}
}