/* -----------------------------------------------------------
---------------------------- COMPONENTES------------
-----------------------------------------------------------*/
.menu {
    width: 100vw;
    padding: 0.5px 0px;
    position: fixed;
    display: grid;
    grid-template-rows: 49px;
    grid-template-columns: [start] 1fr [linea2] 375px [linea3] 1fr [end];
    bottom: 0px;
    left: 0;
    background-color: var(--blue-color);
    z-index: 10;
    animation: none;
    transition: none;
}

.menu_center {
    grid-column: linea2 / linea3;
    display: grid;
    grid-template-columns: [start]1fr [linea2]1fr[linea3] 1fr[linea4] 1fr[linea5] 1fr[end];
    grid-template-rows: 1fr;
}

.menu_center a {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
}

.menu_icono {
   text-align: center;
   margin-top: 7px;
}

.menu_icono p {
    font-size: var(--menu);
    text-align: inherit;
    color: var(--blue2-color);
}

.menu_icono.activo p {
    color: var(--white-color);
}

.menu_icono.disable p {
    color: var(--blue3-color);
}

path.inactivo {
    fill: var(--blue2-color);
}

path.activo {
    fill: var(--white-color);
}

path.disable {
    fill: var(--blue3-color);
}

path.button {
    fill: var(--white-color);
}

path.carrusel {
    fill: var(--gray2-dark-color);
}

.navbar_app {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 97%;
    align-items: flex-start;
    padding-top: 5%;
}

.navbar_app h1,
.header h1 {
    color: var(--white-color);
}

.navbar {
    display: flex;
    justify-content: flex-end;
}
.navbar_config2 {
    display: flex;
    justify-content: flex-end;
    margin: 32px 16px 16px 0px;
    align-items: center;
}

.container {
    padding-bottom: 70px;
    height: auto;
}

.header{
    background-image: url(../img/img_header.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: var(--space2);
}

p.verde{
    color: var(--green-color);
}
p.rojo{
    color: var(--red-color);
}