/* ---------------------- DIRECTORIO --------------- */
.seccion_directorio {
    margin: 0px 16px;
    display: grid;
    grid-template-columns: 1fr;
}

.buscar_directorio{
    position: sticky !important;
    top: 0;
    background: var(--white-color);
    z-index: 20;
}

.buscar_directorio input {
    background: var(--gray2-color);
    height: 30px;
    width: -webkit-fill-available;
    margin: var(--space2);
    border: none;
    border-radius: var(--space);
    color: var(--gray2-dark-color);
    text-align: center;
    font-size: var(--normal);
    font-weight: 400;
    margin-top: var(--space2);
}

.buscar_directorio input:focus{
    color: var(--gray2-dark-color);
}

.datos_directorio .text {
    margin-bottom: var(--space3);
    margin-top: 0;
    margin-left: var(--space);
}

.datos_directorio .text h2 {
    font-size: var(--titulo);
    color: var(--gray2-dark-color);
}

.datos_directorio .text h3 {
    font-size: var(--subtitulo);
    color: var(--blue2-color);
    margin-top: 0;
}

.datos_directorio .text p {
    margin-left: var(--space2);
    color: var(--gray2-dark-color);
    font-size: var(--normal);
    margin-bottom: var(--space);
    font-weight: 400;
}

.search {
    width: 90%;
    margin: 0 5%;
    background: #fff;
    padding: 0 10px;
    padding-bottom: 5px;
    overflow-x: hidden;
    display: none;
    z-index: 100;
    position: absolute;
    max-height: 60vh;
}

.search-table {
    width: 100%;
}

tbody tr td {
    width: 100%;
}

tbody tr td a {
    text-decoration: none;
    font-size: 18px;
    color: var(--gray2-dark-color);
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-left: 20px;
    border: 2px solid #fff;
}


.search::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
}

.search::-webkit-scrollbar-button {
    background: #C1C1C1;
}

.search::-webkit-scrollbar-thumb {
    background: #C1C1C1;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
    display: none;
}