/* ---------------------- HORARIO--------------- */
.seccion_horario {
    margin: 0px 16px;
    display: grid;
    grid-template-columns: 1fr;
}

.datos_horario .text {
    margin-bottom: var(--space3);
    margin-top: 0;
}

.text .separar {
    margin: 0px var(--space);
    border-bottom: 2px solid var(--gray3-color);
    margin-bottom: var(--space);
}

.datos_horario .text h2 {
    font-size: var(--titulo);
    color: var(--gray2-dark-color);
    margin-bottom: var(--space2);
}

.datos_horario .text h3 {
    font-size: var(--subtitulo);
    color: var(--gray-color);
    margin-top: 0;
}

.datos_horario .text p {
    margin-left: var(--space2);
    color: var(--gray2-dark-color);
}

.seccion_horario .boton {
    margin: var(--space2);
    background-color: var(--blue-color);
    border-bottom: solid 2px var(--yellow-color);
    color: var(--white-color);
    height: 44px;
    text-decoration: none;
    border-radius: var(--space);
    display: flex;
    justify-content: center;
    align-items: center;
}
