/* ---------------------- INDICACIONES--------------- */
.indicaciones_text {
    margin-top: var(--space3);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 10px;
}
.indicaciones_text h2{
    width: 100%;
}

.indicaciones_text ul {
    list-style: none;
    padding-left: var(--space);
}

.indicaciones_text ul li::before {
    content: "\2022";
    font-weight: 900;
    color: var(--gray2-dark-color);
    display: inline-block;
    width: var(--space2);
    margin-right: 6px;
}

.indicaciones_text li {
    margin-bottom: var(--space);
    font-weight: 300;
    color: var(--gray2-dark-color);
    line-height: 23px;
    display: flex;
}

.indicaciones_text strong{
    margin-right: 4px;
}

