/* ---------------------- MAPA--------------- */
.seccion_mapa {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 16px 16px 0px 0px;
    padding: 16px 16px 0px;
    margin-top: -20px;
    background-color: var(--white-color);
}

.mapa_fondo img {
    width: 100%;
    margin-top: var(--space2);
}

.accion_mapa {
    margin-top: var(--space4);
    justify-content: center;
    margin: 0;
    display: flex;
}

.datos_mapa h2 {
    font-size: var(--titulo);
    color: var(--gray2-dark-color);
    margin: var(--space3) 0px;
}

.accion_mapa form {
    width: 190px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.accion_mapa input {
    background: var(--white-color);
    height: 30px;
    width: -webkit-fill-available;
    margin: var(--space) var(--space2);
    border: none;
    border-radius: var(--space);
    padding-left: var(--space2);
    color: var(--gray2-dark-color);
    font-size: var(--normal);
    font-weight: 400;
    border: solid 1px var(--gray3-color);
}

.accion_mapa input:focus{
    color: var(--black-color);
}

.accion_mapa p {
    width: -webkit-fill-available;
    margin: 0px var(--space2);
    font-size: var(--medio);
    font-weight: 300;
    color: var(--gray2-dark-color);
}

.accion_mapa .boton {
    margin: var(--space);
    background-color: var(--blue-color);
    color: var(--white-color);
    height: 44px;
    text-decoration: none;
    border-radius: var(--space);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    font-family: var(--font1);
    font-size: var(--normal);
    padding: 0;
}
