/* ---------------------- NOTICIAS--------------- */
.seccion_noticias {
    padding: var(--space2);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 16px 16px 0px 0px;
    margin-top: -20px;
    background-color: var(--white-color);
}

.content1 {
    display: contents;
}

.content3{
    display: contents;
}

.seccion_noticias h3 {
    font-size: var(--titulo);
    color: var(--gray2-dark-color);
}

.tendencias {
    margin-bottom: var(--space3);
    display: flex;
    overflow-x: scroll;
    height: 240px;
}


.card_tendencia {
    height: 226px;
    width: 240px;
    ;
    border-radius: var(--space);
    margin-right: var(--space2);
}

.img_tendencia {
    height: 226px;
    border-radius: var(--space);
}

.img_tendencia img {
    height: 226px;
    width: 240px;
    object-fit: cover;
    object-position: top;
    z-index: 1;
    border-radius: var(--space);
}

.background-card {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #000000 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    z-index: 2;
    height: 123px;
    position: relative;
    top: -54%;
    border-radius: var(--space);
}

.parrafo-card {
    color: var(--white-color);
    font-size: var(--normal);
    padding: var(--space);
    font-weight: 600;
    line-height: 16px;
    z-index: 3;
    position: relative;
    top: -101%;
    margin: 0;
    padding: 20px;
}

.parrafo-card span {
    font-size: var(--pequeno);
    font-weight: 300;
}

.parrafo-card p {
    font-size: var(--medio);
    padding: 0;
    margin: 0;
}


.card_recientes {
    display: flex;
    align-items: center;
    background: var(--gray2-color);
    border-radius: var(--space);
}

.img_recientes {
    background-image: url(../img/noticia1_img1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--space);
    height: 113.1px;
    width: 201.5px;
}

.img_recientes2 {
    background-image: url(../img/recientes_img2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--space);
    height: 113.1px;
    width: 201.5px;
}

.recientes {
    margin-bottom: var(--space3);
}

.card_recientes {
    margin-bottom: var(--space2);
}

.titular_recientes {
    width: 126px;
    margin: var(--space);
}

.titular_recientes h2 {
    font-size: var(--normal);
    color: var(--gray-color);
}

.titular_recientes p {
    font-size: var(--pequeno);
    color: var(--gray-color);
    margin: 0;
}

.menu_navegar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space);
}

.menu_navegar a {
    text-decoration: none;
}

.menu_navegar .boton {
    background-image: url("../img/estudiante.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: var(--normal);
    display: flex;
    color: var(--white-color);
    height: 60px;
    border-radius: var(--space);
    justify-content: space-between;
    align-items: center;
    padding-left: var(--space);
}

.btn {
    display: flex;
    align-self: center;
}

.btn img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.boton.dos {
    background-image: url("../img/programate.png");
}

.boton.tres {
background-image: url("../img/comunidad.png");
}

.boton.cuatro {
    background-image: url("../img/docente.png");
}

.boton.cinco {
    background-image: url("../img/egresados.png");
}

.boton.seis {
    background-image: url("../img/semana.png");
}

.menu_navegar .boton p {
    margin: 0;
}
