/* ---------------------- VARIABLES -------------- */
:root {
    /* -------- tipografía------ */
    --font1: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    --normal: 16px;
    --seccion: 34px;
    --titulo: 28px;
    --subtitulo: 20px;
    --medio: 14px;
    --pequeno: 12px;
    --accion: 17px;
    --menu: 10px;
    /* -------- colores------ */
    --white-color: #FFFFFF;
    --white2-color: #F8F8F8;
    --gray-color: #969696;
    --gray2-color: #EEEEEE;
    --gray3-color: #CBCBCB;
    --gray-dark--color: #4D4D4D;
    --gray2-dark-color: #47494D;
    --blue-color: #34507D;
    --blue2-color: #3B8CC5;
    --blue3-color: #2A73A5;
    --black-color: #000000;
    --red-color: #FD3B2F;
    --yellow-color: #FDBB26;
    /* -------- espaciado------ */
    --space: 8px;
    --space2: 16px;
    --space3: 32px;
    --space4: 64px;
    /* -------- botones------ */
    --boton-uno: {
        background-color: var(--blue-color);
        color: var(--white-color);
        height: 48px;
        width: 184px;
        text-decoration: none;
        border-radius: var(--space);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--space2);
    };

    --boton-dos: {
        margin: var(--space2);
        margin-top: 56px;
        background-color: var(--blue-color);
        color: var(--white-color);
        height: 44px;
        text-decoration: none;
        border-radius: var(--space);
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid 2px var(--yellow-color);
        width: -webkit-fill-available;
        font-family: var(--font1);
        font-size: var(--normal);
    };
}


/* -----------------------------------------------------------
---------------------------- INICIO MEDIA QUERYS------------
-----------------------------------------------------------*/
/* --------------------------- DISPOSITIVOS PORTRAIT-------- */
@media only screen and (min-width: 320px) {}

/* --------------------------- DISPOSITIVOS LANDSCAPE-------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    
}

/* --------------------------- DISPOSITIVOS LANDSCAPE Y iPAD-------- */
@media only screen and (min-width: 768px) {}

/* --------------------------- DESKTOP, iPAD PRO, TV-------- */
@media only screen and (min-width: 1024px) {}
